# Editors
.vscode
.idea/

**/cmake-build-debug
**/cmake-build-release
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

**/data

# Build directory
build/
out/
